---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";

---
<ContentSection title="Вместе с нами" id="compatibility">
  <Fragment slot="lead">
    Мы приглашаем вас присоединиться к нашему движению к яркому будущему,
    где альтруизм является ключом к гармонии, пониманию и созиданию.
    Вместе мы можем внести изменения, начиная с малого, но двигаясь к великому.
  </Fragment>
</ContentSection>

<ContentSection id="compatibility">
  <Fragment slot="lead">
    Присоединяйтесь к нам, и давайте
    <span class="text-primary">вместе</span> создадим мир
    <span class="text-primary">альтруизма</span> и
    <span class="text-primary">позитивных</span> перемены!
  </Fragment>
</ContentSection>
